.uloha-detail-form {
    max-width: 2000px;
    margin: 0px auto 0px auto;
    padding: 20px;
}


.uloha-form {
    margin-top: 60px;
    margin-bottom: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 15px;*/
}

.col {
    /*flex: 0 0 48%;*/
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.upravBtn {
    padding: 10px 20px;
    background-color: #008C00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upravBtn:hover {
    background-color: #019d01;
}

.vymazBtn {
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vymazBtn:hover {
    background-color: #CC0000;
}
