
.add-button-container {
    text-align: right;
    margin-top: 60px;
    margin-right: 30px
}

.add-button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.employee-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.employee-tile {
    width: 23%; /* Adjust as needed, considering margins and padding */
    margin: 1%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s;
    aspect-ratio: 1; /* Set aspect-ratio to 1 for a square shape */
}

.employee-tile:hover {
    transform: scale(1.05);
}

.employee-img-container {
    text-align: center;
}

.employee-img-container img {
    max-width: 100%;
    max-height: 150px; /* Adjust the max height as needed */
    object-fit: cover;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.employee-info-container {
    text-align: center;
}

.employee-info {
    margin: 5px 0;
    font-size: 14px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .employee-tile {
        width: 48%; /* Adjust for smaller screens */
    }
}

/* Responsive styles for mobile screens */
@media (max-width: 480px) {
    .employee-tile {
        width: 100%; /* Full width on mobile screens */
    }
}

.employee-tile:hover {
    transform: scale(1.05);
}

.employee-img-container {
    text-align: center;
}

.employee-img-container img {
    max-width: 100%;
    max-height: 100%; /* Max height 100% to maintain aspect ratio */
    object-fit: cover;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.employee-info-container {
    text-align: center;
}

.employee-info {
    margin: 5px 0;
    font-size: 16px; /* Increase font size */
}