* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uloha-list-header {
    margin-left: 20px;
}

.add-button-container {
    text-align: right;
    margin-top: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.add-button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.uloha-list-projekt-dropdown {

    max-width: 400px;
    padding: 5px;
    margin-left: 20px;
}

.uloha-info-row {
    display: flex;
    flex-direction: row;
    /*border-bottom: 1px solid #ccc;*/
}

.uloha-header-info-row {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #ccc;
    background-color: white;

}

.uloha-info-column {
    flex: 1;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    margin: 0 10px;
}

.uloha-header-column {
    flex: 1;
    padding: 5px;
    text-align: left;
    /*text-decoration: underline;*/
    margin: 0 5px;
    background-color: white;

}

.uloha-list-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;

}
.uloha-list-item:hover {
    background-color: #f2f2f2;
}

.uloha-header-list-item {
    margin-bottom: 10px;
    padding: 10px;
}
.uloha-list-item .row {
    overflow: hidden;
}

.uloha-list-item.employee-info {
    display: inline-block;
    margin-right: 20px;
}

.uloha-list-item .row:last-child {
    display: block;
}
.ulohy-zoznam-list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 60px;
    /*margin: 0 20px;*/
    margin-left: 20px;
    margin-right: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 1;
}


.uloha-list-content {
    margin-bottom: 100px;
}

.pagination-button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.page-size-dropdown {
    margin-right: 10px;
}

.page-size-dropdown select {
    padding: 5px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .uloha-info-row,
    .uloha-header-info-row,
    .uloha-list-item,
    .uloha-info-column,
    .uloha-header-column,
    .uloha-list-item {
        margin: 0;
    }

    .uloha-list-item.employee-info {
        margin-right: 0;
    }

    .uloha-header-info-row,
    .uloha-list-item .row {
        flex-direction: row;
    }
}