<link rel="stylesheet" href="/components/navbar/navBarStyleSheet.css">
<nav class="navbar">
    <div class="logo">
        <img src="/pictures/navBarLogo.png" alt="Logo">
    </div>

    <div id="nav-links" class="nav-links">
        <ul>
            <li><a href="../../webpages/index/index.html">Domov</a></li>
            <li><a href="../../webpages/createZamestnanecForm/createZamestnanecForm.html">Zamestnanci</a></li>
            <li><a href="../../components/workInProgress/workInProgress.html">Úlohy</a></li>
            <li><a href="../../webpages/projekt/projektDetail.html">Projekty</a></li>
            <li><a href="../../components/workInProgress/workInProgress.html">Kontakty</a></li>
        </ul>
    </div>
    <div class="website-name website-name-extended">
        Workflow Manager
    </div>
    <div id="mobile-menu"  class="mobile-menu">
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</nav>
