/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

#navbar-container {
}

.contentForm {
    max-width: 2000px;
    margin: 50px auto 100px auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.col {
    flex: 1;
    padding: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}

.vytvoritBtn {
    padding: 10px 20px;
    background-color: #00A000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vytvoritBtn:hover {
    background-color: #008800;
}

.zrusitBtn {
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.zrusitBtn:hover {
    background-color: #CC0000;
}

@media (max-width: 768px) {
    .content {
        max-width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        flex: 1;
        margin-right: 0;
    }

    input[type="text"] {
        width: 100%;
    }


    .form-row select {
        width: 100%;
    }
}
