

.create-projekt-formular {
    max-width: 2000px;
    margin: 50px auto 100px auto;
    padding: 20px;
}


.create-projekt-formular-group {
    margin-bottom: 15px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.col {
    flex: 1;
    padding: 5px;
}

.create-projekt-formular-row {
    display: flex;
    justify-content: space-between;
}

.create-projekt-formular-row .create-projekt-formular-group {
    flex: 1;
    margin-right: 10px;
}




.projekt-create-vytvoritBtn {
    padding: 10px 20px;
    background-color: #00A000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.projekt-create-vytvoritBtn:hover {
    background-color: #008800;
}

.projekt-create-zrusitBtn {
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.projekt-create-zrusitBtn:hover {
    background-color: #CC0000;
}