.content {
    max-width: 800px;
    margin: 60px auto 100px auto;
    padding: 20px;
    border: 1px solid #ccc;

}


#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


#image img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}


#text {
    text-align: left;
}


#table1,
#table2 {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
}


#table1 table,
#table2 table {
    border-collapse: collapse;
    width: 100%;
}

#table1 th,
#table2 th {
    background-color: #f0f0f0;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

#table1 td,
#table2 td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}
