<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work in progress</title>
    <link rel="stylesheet" type="text/css" href="workInProgressStylesheet.css">

</head>
<body>

<div id="navbar-container"></div>

<div class="content">
    <img src="../../pictures/underConstruction.png" alt="under costruction png">
    <p> Na stránke sa pracuje</p>
</div>

<script src="workInProgressScript.js"></script>

</body>
</html>