
.projekt-uprav-upravtBtn {
    padding: 10px 20px;
    background-color: #00A000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.projekt-uprav-upravtBtn:hover {
    background-color: #008800;
}

.projekt-uprav-zrusitBtn {
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.projekt-uprav-zrusitBtn:hover {
    background-color: #CC0000;
}